<div class="navbar" style="border-top-width: 0;border-left-width: 0;border-right-width: 0;">
    <div class="navbar-inner portlet-title">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="ProgressBar">
                    <li class="ProgressBar-step is-current">
                        <a href="#tab1" class="disabled-click" data-toggle="tab">
                            <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
                            <span class="ProgressBar-stepLabel"><!--1--></span>
                        </a>
                    </li>
                    <li class="ProgressBar-step" disabled="">
                        <a href="#tab2" class="disabled-click" data-toggle="tab">
                            <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
                            <span class="ProgressBar-stepLabel"><!--2--></span>
                        </a>
                    </li>
                    <li class="ProgressBar-step">
                        <a href="#tab3" class="disabled-click" data-toggle="tab">
                            <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
                            <span class="ProgressBar-stepLabel"><!--3--></span>
                        </a>
                    </li>
                    <li class="ProgressBar-step">
                        <a href="#tab4" class="disabled-click" data-toggle="tab">
                            <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
                            <span class="ProgressBar-stepLabel"><!--4--></span>
                        </a>
                    </li>
                    <li class="ProgressBar-step">
                        <a href="#tab5" class="disabled-click" data-toggle="tab">
                            <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
                            <span class="ProgressBar-stepLabel"><!--5--></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
