<div class="tab-pane" id="tab5" style="text-align: center">
    <div class="wizard-container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <h2>Dados da Cotação</h2>
                <div class="row">
                    <div class="col-md-6">
                        <span > Itens:</span>
                        <span id="quote_itens"></span>
                    </div>

                    <div class="col-md-6">
                        <span>Fornecedores:</span>
                        <span id="quote_suppliers"></span>
                    </div>
                </div>
                <h4>Validade da Cotação</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <i class="fa fa-calendar" aria-hidden="true" ></i>
                            <span id="quote_start"> data</span>
                        </div>
                        <div class="col-md-12">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span id="quote_start_time"> hora</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span id="quote_end"> data</span>
                        </div>
                        <div class="col-md-12">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span id="quote_end_time"> hora</span>
                        </div>
                    </div>
                </div>
                <h4>Prazo de Pagamento</h4>
                <div class="row">
                    <div class="col-md-12">
                        <span id="quote_due_date"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4" style="margin-top: 20px">
                <button id="save-quote" class="btn green-conecta" style="width: 100%;margin: 5px 0;">Salvar Cotação</button><br/>
                <button id="presential-quote" class="btn green-conecta" style="width: 100%;margin: 5px 0;">Iniciar Cotação Presencial</button><br/>
                <button id="sent-suppliers" class="btn green-conecta" style="width: 100%;margin: 5px 0;">Enviar Para Fornecedor</button>
            </div>
        </div>
    </div>
</div>
<div id="sendSupplier" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enviar para fornecedores</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="sendSuppliersTable">
                        <thead>
                            <tr>
                                <th>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input name="selectAllSendSupplier" type="checkbox" autocomplete='off' checked/>
                                        <span></span>
                                    </label>
                                </th>
                                <th>Representante</th>
                                <th>E-mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if quote is defined %}
                                {% for supplierStatus in quote.suppliersStatus %}
                                    <tr>
                                        <td>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" name="chkSendSupplier"
                                                value="{{ supplierStatus.representative.id }}" checked/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td> {{ supplierStatus.representative.name }} </td>
                                        <td class="numeric"> {{ supplierStatus.representative.email }} </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  id="sendLinks" class="btn green-conecta btn-circle" data-style="expand-right">
                    Enviar
                </button>
            </div>
        </div>
    </div>
</div>

