<div class="tab-pane" id="tab5" style="text-align: center">
    <div class="wizard-container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <h2>Dados da Cotação</h2>
                <div class="row">
                    <div class="col-md-6">
                        <span > Itens:</span>
                        <span id="quote_itens"></span>
                    </div>

                    <div class="col-md-6">
                        <span>Fornecedores:</span>
                        <span id="quote_suppliers"></span>
                    </div>
                </div>
                <h4>Validade da Cotação</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <i class="fa fa-calendar" aria-hidden="true" ></i>
                            <span id="quote_start"> data</span>
                        </div>
                        <div class="col-md-12">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span id="quote_start_time"> hora</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span id="quote_end"> data</span>
                        </div>
                        <div class="col-md-12">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span id="quote_end_time"> hora</span>
                        </div>
                    </div>
                </div>
                <h4>Prazo de Pagamento</h4>
                <div class="row">
                    <div class="col-md-12">
                        <span id="quote_due_date"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4" style="margin-top: 20px">
                <button id="save-quote" class="btn green-conecta" style="width: 100%;margin: 5px 0;">Salvar Cotação</button><br/>
                <button id="presential-quote" class="btn green-conecta" style="width: 100%;margin: 5px 0;">Iniciar Cotação Presencial</button><br/>
                <button id="sent-suppliers" class="btn green-conecta" style="width: 100%;margin: 5px 0;">Enviar Para Fornecedor</button>
            </div>
        </div>
    </div>
</div>
