.btn.green-conecta:not(.btn-outline) {
    color: #FFFFFF;
    background-color: #40ae40;
    border-color: #40ae40; }
.btn.green-conecta:not(.btn-outline):focus, .btn.green-conecta:not(.btn-outline).focus {
    color: #FFFFFF;
    background-color: #40ae40;
    border-color: #48d000; }
.btn.green-conecta:not(.btn-outline):hover {
    color: #FFFFFF;
    background-color: #83BC3C;
    border-color: #81BC3C; }
.btn.green-conecta:not(.btn-outline):active, .btn.green-conecta:not(.btn-outline).active,
.open > .btn.green-conecta:not(.btn-outline).dropdown-toggle {
    color: #FFFFFF;
    background-color: #40ae40;
    border-color: #40ae40; }
.btn.green-conecta:not(.btn-outline):active:hover, .btn.green-conecta:not(.btn-outline):active:focus, .btn.green-conecta:not(.btn-outline):active.focus, .btn.green-conecta:not(.btn-outline).active:hover, .btn.green-conecta:not(.btn-outline).active:focus, .btn.green-conecta:not(.btn-outline).active.focus,
.open > .btn.green-conecta:not(.btn-outline).dropdown-toggle:hover,
.open > .btn.green-conecta:not(.btn-outline).dropdown-toggle:focus,
.open > .btn.green-conecta:not(.btn-outline).dropdown-toggle.focus {
    color: #FFFFFF;
    background-color: #48d000;
    border-color: #48d000; }
.btn.green-conecta:not(.btn-outline):active, .btn.green-conecta:not(.btn-outline).active,
.open > .btn.green-conecta:not(.btn-outline).dropdown-toggle {
    background-image: none; }
.btn.green-conecta:not(.btn-outline).disabled:hover, .btn.green-conecta:not(.btn-outline).disabled:focus, .btn.green-conecta:not(.btn-outline).disabled.focus, .btn.green-conecta:not(.btn-outline)[disabled]:hover, .btn.green-conecta:not(.btn-outline)[disabled]:focus, .btn.green-conecta:not(.btn-outline)[disabled].focus,
fieldset[disabled] .btn.green-conecta:not(.btn-outline):hover,
fieldset[disabled] .btn.green-conecta:not(.btn-outline):focus,
fieldset[disabled] .btn.green-conecta:not(.btn-outline).focus {
    background-color: #88D000;
    border-color: #88D000; }
.btn.green-conecta:not(.btn-outline) .badge {
    color: #88D000;
    background-color: #FFFFFF; }

.btn.btn-outline.green-conecta {
    border-color: #88D000;
    color: #88D000;
    background: none; }
.btn.btn-outline.green-conecta:hover, .btn.btn-outline.green-conecta:active, .btn.btn-outline.green-conecta:active:hover, .btn.btn-outline.green-conecta:active:focus, .btn.btn-outline.green-conecta:focus, .btn.btn-outline.green-conecta.active {
    border-color: #88D000;
    color: #FFFFFF;
    background-color: #88D000; }

.btn.green-conecta-stripe {
    border-left: 4px solid #88D000 !important; }

.btn.green-conecta.btn-no-border:not(.active) {
    border-color: transparent; }


.form-control.green-conecta {
    border-color: #88D000; }
.form-control.green-conecta:focus {
    border-color: #83BC3C; }

.form-control.focus-green-conecta:focus {
    border-color: #88D000; }

.portlet > .portlet-body.green-conecta,
.portlet.green-conecta {
    background-color: #88D000; }

.portlet.solid.green-conecta > .portlet-title,
.portlet.solid.green-conecta > .portlet-body {
    border: 0;
    color: #FFFFFF; }

.portlet.solid.green-conecta > .portlet-title > .caption {
    font-weight: 400; }
.portlet.solid.green-conecta > .portlet-title > .caption > i {
    color: #FFFFFF; }

.portlet.solid.green-conecta > .portlet-title > .tools > a.remove {
    background-image: url(../img/portlet-remove-icon-white.png); }

.portlet.solid.green-conecta > .portlet-title > .tools > a.config {
    background-image: url(../img/portlet-config-icon-white.png); }

.portlet.solid.green-conecta > .portlet-title > .tools > a.reload {
    background-image: url(../img/portlet-reload-icon-white.png); }

.portlet.solid.green-conecta > .portlet-title > .tools > a.expand {
    background-image: url(../img/portlet-expand-icon-white.png); }

.portlet.solid.green-conecta > .portlet-title > .tools > a.collapse {
    background-image: url(../img/portlet-collapse-icon-white.png); }

.portlet.solid.green-conecta > .portlet-title > .tools > a.fullscreen {
    color: #fdfdfd; }

.portlet.box.green-conecta {
    border: 1px solid #40AE40;
    border-top: 0; }
.portlet.box.green-conecta > .portlet-title {
    background-color: #40AE40; }
.portlet.box.green-conecta > .portlet-title > .caption {
    color: #FFFFFF; }
.portlet.box.green-conecta > .portlet-title > .caption > i {
    color: #FFFFFF; }
.portlet.box.green-conecta > .portlet-title > .actions .btn-default {
    background: transparent !important;
    background-color: transparent !important;
    border: 1px solid #5fe8cc;
    color: #75ebd3; }
.portlet.box.green-conecta > .portlet-title > .actions .btn-default > i {
    color: #83edd7; }
.portlet.box.green-conecta > .portlet-title > .actions .btn-default:hover, .portlet.box.green-conecta > .portlet-title > .actions .btn-default:focus, .portlet.box.green-conecta > .portlet-title > .actions .btn-default:active, .portlet.box.green-conecta > .portlet-title > .actions .btn-default.active {
    border: 1px solid #8ceeda;
    color: #a2f2e1; }



.progress-bar.green-conecta {
    background: #40ae40 !important;
    color: #FFFFFF !important; }



.dashboard-stat.green-conecta {
    background-color: white;
}
.dashboard-stat.green-conecta.dashboard-stat-light:hover {
    background-color: #40ae40; }
.dashboard-stat.green-conecta .visual > i {
    color: #FFFFFF;
    opacity: 0.1;
    filter: alpha(opacity=10); }
.dashboard-stat.green-conecta .details .number {
    color: #6f7d90;
}
.dashboard-stat.green-conecta .details .desc {
    color: #6f7d90;
    opacity: 1;
    filter: alpha(opacity=100);
}
.dashboard-stat.green-conecta .more {
    color: #FFFFFF;
    background-color: #2ecc71;
}



.mt-element-list .list-default.mt-list-head.green-conecta {
    background-color: #88D000;
    color: #FFFFFF; }
.mt-element-list .list-default.mt-list-head.green-conecta .badge {
    background-color: #40AE40;
    color: #FFFFFF; }
.mt-element-list .list-default.mt-list-head.green-conecta.ext-1 .badge {
    background-color: #83BC3C; }
.mt-element-list .list-default.mt-list-head.green-conecta .list-label {
    color: #dcfaf4; }
.mt-element-list .list-default.mt-list-head.green-conecta .list-date {
    color: #dcfaf4; }

.mt-element-list .list-todo.mt-list-head.green-conecta {
    background-color: #88D000;
    color: #FFFFFF; }

.mt-element-list .list-todo .list-count.green-conecta {
    background-color: #88D000;
    color: #FFFFFF; }
.mt-element-list .list-todo .list-count.green-conecta:hover {
    background-color: #18a689; }

.mt-element-list .list-todo .list-todo-line.green-conecta {
    border-color: #88D000; }

.mt-element-list .list-todo .list-todo-item.green-conecta:after {
    border-right-color: #88D000 !important; }

.mt-element-list .list-todo .list-todo-item.green-conecta .list-toggle {
    background: #88D000;
    color: #FFFFFF !important; }
.mt-element-list .list-todo .list-todo-item.green-conecta .list-toggle > .badge {
    color: #88D000;
    background: #FFFFFF; }



.mt-element-list .list-todo-item.green-conecta:after {
    border-right-color: #88D000; }

.mt-element-list .list-todo-item.green-conecta .list-toggle {
    background: #88D000; }



.bg-green-conecta {
    background: #88D000 !important; }

.bg-green-conecta-opacity {
    background: rgba(79, 188, 42, 0.8) !important; }

.bg-hover-green-conecta:hover {
    background: #88D000 !important; }

.font-green-conecta {
    color: #88D000 !important; }

.bg-font-green-conecta {
    color: #FFFFFF !important; }

.border-green-conecta {
    border-color: #88D000 !important; }

.border-top-green-conecta {
    border-top-color: #88D000 !important; }

.border-bottom-green-conecta {
    border-bottom-color: #88D000 !important; }

.border-left-green-conecta {
    border-left-color: #88D000 !important; }

.border-right-green-conecta {
    border-right-color: #88D000 !important; }

.bg-before-green-conecta:before,
.bg-after-green-conecta:after {
    background: #88D000 !important; }

.border-before-green-conecta:before,
.border-after-green-conecta:after {
    border-color: #88D000 !important; }

.border-top-before-green-conecta:before,
.border-top-after-green-conecta:after {
    border-top-color: #88D000 !important; }

.border-bottom-before-green-conecta:before,
.border-bottom-after-green-conecta:after {
    border-bottom-color: #88D000 !important; }

.border-left-before-green-conecta:before,
.border-left-after-green-conecta:after {
    border-left-color: #88D000 !important; }

.border-right-before-green-conecta:before,
.border-right-after-green-conecta:after {
    border-right-color: #88D000 !important; }


/*
      Float label styles
       */



label:hover {
    cursor: text;
}



@media (max-width: 500px) {
    .contact-form {
        margin: 0 0 100px;
        width: 100%;
    }
}
.contact-form .email, .contact-form .message, .contact-form .text {
    position: relative;
}
.contact-form .email input:focus, .contact-form .email textarea:focus, .contact-form .message input:focus, .contact-form .message textarea:focus, .contact-form .text input:focus, .contact-form .text textarea:focus {
    background: #f4f5f6;
}
.contact-form .email label, .contact-form .message label, .contact-form .text label {
    color: #40AE40;
    left: 23px;
    position: absolute;
    top: 13px;
    -moz-transition: all, 150ms;
    -o-transition: all, 150ms;
    -webkit-transition: all, 150ms;
    transition: all, 150ms;
}
.contact-form .email.typing label, .contact-form .message.typing label, .contact-form .text.typing label {
    color: #40ae40;
    font-size: 10px;
    top: 2px;
}

.text input {
    margin: 0 auto;
    height: 44px;
    padding-top: 14px;
    width: 284px;
    border: 1px solid #40AE40
}
.text input:focus{
    border: 1px solid #40AE40;
}

.contact-form .email {
    border-left: 1px #e6e6e6 solid;
    float: right;
}
@media (max-width: 500px) {
    .contact-form .email {
        border-left: none;
        border-top: 1px #e6e6e6 solid;
    }
}
.contact-form .message {
    border-bottom: 1px #e6e6e6 solid;
    border-top: 1px #e6e6e6 solid;
    clear: both;
}
.contact-form .message textarea {
    height: 200px;
    padding: 23px;
}
.contact-form .text {
    float: left;
}
.navbar-inner {
    background: #319431;
    width: 100%;
}

#rootwizard{
    background: #fff;
}

.wizard-container{
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-width: 1px;
}

.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled]):checked ~ span, .mt-checkbox.mt-checkbox-outline>input:checked ~ span {

    background: #319431 !important;
    border-radius: 2px;
    border: 1px solid #319431;

}

.mt-checkbox.mt-checkbox-outline>span {
    border: 1px solid #d9d9d9;
    background: 0;
    border-radius: 2px;
}
.mt-checkbox>span:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.error {
    border: 1px solid red !important;
}

.valid {
    border: 1px solid #40AE40 !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: transparent;
    background-color: transparent;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}
.disabled-click {
    pointer-events: none;
    cursor: default;
}
td {
    text-align: center;
    vertical-align: middle;
}
th {
    text-align: center;
    vertical-align: middle;
}


.text-area{
    width: 284px;
    border: 1px solid #40AE40;
    padding-top: 14px;

}

.text select {
    margin: 0 auto;
    height: 44px;
    padding-top: 14px;
    width: 284px;
    border: 1px solid #40AE40
}
.text select:focus{
    border: 1px solid #40AE40;
}
.modal .modal-header{
    background-color: #40AE40;
}
.modal-title{
    color: #FFFFFF;
}
