<!-- BEGIN INNER FOOTER -->
<div class="page-footer">
    <div class="container"> Tricard Serviços de Intermediação de Cartões de Crédito Ltda |
        <a href="mailto:ajuda@tricard.com.br">ajuda@tricard.com.br</a>
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END INNER FOOTER -->

