
<html>
<head>
    <title>ConectaTri Termos e Condições</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body id="play-play-terms.html">
<div class="play-contained">
    <h1>
        TERMOS DE USO E PRIVACIDADEDO APLICATIVO CONECTATRI
    </h1>
    <p>
    </p>
    <h2>
        1. Introduction
    </h2>
    <p>
        Este instrumento vincula legalmente o Usuário com relação aos serviços oferecidos através do Aplicativo, pela <strong>Tricard
            Serviços de Intermediação de Cartões de Crédito Ltda, sociedade com sede na Av. Cesário Alvim, nº 2209 – Sala “b”,
            cidade de Uberlândia, Minas Gerais, inscrita no CNPJ sob o nº 05.045.717/0001-73 (“Tricard”).</strong>
        <br>
    </p>
    <p>
        A aceitação do presente Termo se dará confirmada com o ato de cadastramento (gratuito) do(s) "Usuário(s)".
        A recusa deste Termo impedirá que o Usuário utilize o Aplicativo.

    </p>
    <p>
        O cadastro como Usuário é proibido para qualquer pessoa juridicamente incapaz e pessoa física que
        não exerce a atividade empresarial profissionalmente. O Aplicativo é destinado a varejistas
        constituídos sob a forma de empresários individuais e/ou pessoas jurídicas regularmente constituídas
        e legitimamente representadas por seu administrador.
    </p>
    <p>
        No presente Termo estão descritos os termos e condições aplicáveis ao uso pelos
        “Usuários” dos serviços disponibilizados pelo Aplicativo, assim como a Política de Privacidade
        da Tricard. Ao cadastrar-se como Usuário no Aplicativo e aceitar eletronicamente o presente Termo, por
        meio da realização do seu cadastro, o Usuário declara que leu, compreendeu e aceitou livremente estar de acordo com este Termo.
    </p>
    <p>
        Este Termo encontra-se disponível no Aplicativo ConectaTri, para verificação do Usuário.
    </p>

    <h2><strong>1. Do Cadastro do Usuário  </strong></h2>
    <p>
        1.1 O Usuário deve se cadastrar para acessar e utilizar os serviços oferecidos pelo Aplicativo. Ao se cadastrar, o Usuário declara que sua identificação é legítima e autêntica, inclusive os dados por ele próprio
        inseridos no Aplicativo, como condição para a prestação dos serviços oferecidos, não estando a Tricard obrigado a fiscalizar ou controlar a veracidade das informações fornecidas.
    </p>
    <p>
        1.1.1. O Usuário responsabiliza-se, civil e criminalmente, pela veracidade das informações fornecidas a Tricard.
    </p>
    <p>
        1.1.2. A Tricard se reserva, ainda, no direito de utilizar todos os meios legais e possíveis para identificar seus Usuários, bem como de solicitar, a qualquer momento, dados adicionais e documentos que considere necessários, a seu exclusivo critério, com a finalidade de verificar os dados cadastrais informados e a exatidão das informações prestadas.
    </p>
    <p>
        1.1.3. Em caso de informações incorretas, inverídicas ou não confirmadas, bem assim na hipótese da negativa em corrigi-las ou enviar documentação que comprove a correção, quando solicitado a fazer, a Tricard se reserva no direito de não concluir o cadastramento em curso ou, ainda, de bloquear o cadastro já existente, impedindo o Usuário de utilizar os serviços até que a situação de anomalia esteja regularizada.
    </p>
    <h2><strong>2. Dos Serviços oferecidos </strong></h2>
    <p>
        2.1. Por meio do Aplicativo, a Tricard possibilita ao Usuário, através de um único canal, solicitar cotações de preços de produtos/mercadorias de vários fornecedores previamente indicados pelo próprio Usuário. Os fornecedores indicados no Aplicativo poderão receber as solicitações de cotações dos Usuários e remeter os orçamentos solicitados através do Aplicativo, aos respectivos Usuários, de uma forma estruturada.
    </p>
    <p>
        2.1.1. O envio do orçamento é de responsabilidade única e exclusiva do fornecedor, ciente o Usuário que o fornecedor por ele indicado poderá, por qualquer motivo, não enviá-lo e/ou não garantir determinado preço e/ou garanti-lo sob certas condições, sendo esta
        circunstância motivo alheio a Tricard, isentando-a de qualquer responsabilidade.
    </p>
    <p>
        2.1.2. A Tricard não é responsável e não garante qualquer oferta ou cotação, sendo mera facilitadora da solicitação realizada pelo Usuário junto ao fornecedor indicado pelo Usuário.
    </p>
    <p>
        2.1.3. Os serviços disponibilizados através do Aplicativo promocionalmente não são por ora tarifados ou cobrados pela Tricard, reservado, entretanto, a esta o direito de ativar a cobrança a qualquer tempo, mediante prévio aviso aos Usuários através do Aplicativo.
    </p>
    <p>
        2.2. O Aplicativo não constitui nenhum tipo de serviço de precificação de produtos, prazo de entrega, compra e venda de produtos ou mercadorias, sendo que a Tricard não faz nenhuma recomendação ou endosso da qualidade, nível de serviço ou classificação de qualquer fornecedor indicado pelo próprio Usuário.
    </p>
    <p>
        2.3. A qualidade do serviço da Tricard depende da qualidade e veracidade dos dados fornecidos pelo Usuário no Aplicativo.
    </p>
    <h2><strong>3. Da Licença </strong></h2>
    <p>
        3.1 A Tricard concede ao Usuário uma licença limitada, pessoal, não exclusiva, não transferível, não comercial e plenamente revogável, para usar o Aplicativo em seu dispositivo móvel e/ou web em conformidade com as condições previstas neste Termo.  Compete ao Usuário verificar a compatibilidade de seu celular para instalação e uso do Aplicativo.
    </p>
    <p>
        3.2 A Tricard não se responsabiliza por danos sofridos pelo Usuário em razão de cópia, transferência, distribuição ou qualquer outra forma de utilização de conteúdo protegido disponibilizado no Aplicativo.
    </p>
    <h2><strong>4 – Uso dos dados, informações e Privacidade </strong></h2>
    <p>
        4.1 Os dados coletados do Usuário, por seu livre e expresso consentimento, poderão ser utilizados para as seguintes finalidades:
    </p>
    <ul>
        <li>responder a eventuais dúvidas; </li>
        <li>cumprimento de ordem legal ou judicial; </li>
        <li>construir, defender ou exercer regularmente direitos em âmbito judicial ou administrativo; </li>
        <li>elaborar estatísticas gerais, análises e estudos para identificação do perfil dos usuários para o desenvolvimento de produtos e de campanhas; </li>
        <li>garantir a segurança dos Usuários; </li>
        <li>manter atualizados os cadastros dos Usuários para fins de contato por telefone, correio eletrônico, SMS, mala-direta ou por outros meios de comunicação.</li>
        <li>desenvolver, manter e aperfeiçoar os recursos e funcionalidades do Aplicativo; </li>
        <li>verificar os hábitos de navegação dos Usuários; </li>
        <li>Manter os usuários informados sobre os serviços, alterações nos Termos de Uso atualizações ou melhorias no Aplicativo, ou ainda sobre o status de suas contas e solicitações;</li>
    </ul>
    <p>
        4.2. Os dados adquiridos somente poderão ser acessados por profissionais devidamente autorizados pela Tricard, respeitando a necessidade a que serão submetidos, a relevância para os objetivos do Aplicativo e aos interesses dos Usuários.
    </p>
    <p>
        4.3. Caso o usuário deixar de utilizar os serviços oferecidos pelo Aplicativo, a Tricard poderá, para fins de auditoria e preservação de direitos, permanecer com o registro de dados e informações do usuário, pelo período máximo de 05 (cinco) anos, com a faculdade de excluí-los definitivamente segundo sua conveniência.
    </p>
    <p>
        <strong>4.4. A Tricard preservará em sigilo as informações individualizadas do Usuário coletados no Aplicativo, envolvendo os seus dados cadastrais, as
            cotações e identificação dos fornecedores, sendo certo que não haverá compartilhamento destes dados com terceiros e nem com empresas do mesmo grupo econômico da Tricard. </strong>
    </p>
    <p>
        4.5. A Tricard poderá registrar todas as atividades efetuadas pelos Usuários no Aplicativo, por meio de logs, incluindo:
    </p>
    <ul>
        <li> ações efetuadas;  </li>
        <li> datas e horários de cada ação ou acesso;  </li>
        <li>recursos de câmera do celular:  </li>
        <li>dados e perfil de utilização do Aplicativo (data cadastro, dias de utilização, cotações realizadas, fornecedores indicados, etc); </li>
        <li>session ID. </li>
        <li>Código ID (IMEI) do dispositivo móvel pelo qual o Usuário acessou o Aplicativo;</li>
    </ul>
    <p>
        4.6. Os registros mencionados no item 4.5 poderão ser utilizadas pela Tricard nos termos desta seção, em casos de investigação de fraudes ou de alterações indevidas em seus sistemas e cadastros.
    </p>
    <h2><strong>5. Propriedade Intelectual</strong></h2>
    <p>
        5.1. As marcas, nomes, logotipos, nomes de domínio e demais sinais distintivos, bem como todo e qualquer conteúdo, desenho, arte ou layout publicado no Aplicativo são de propriedade exclusiva da Tricard.
    </p>
    <p>
        5.2 São vedados quaisquer atos ou contribuições tendentes à descompilação, engenharia reversa, modificação das características, ampliação, alteração, mesclagem ou incorporação em quaisquer outros programas ou sistemas. Enfim, toda e qualquer forma de reprodução, total ou parcial, permanente, temporária ou provisória, de forma gratuita ou onerosa, sob quaisquer modalidades, formas ou títulos dos Aplicativos é expressamente vedada.

    </p>
    <p>
        5.3 A menos que declarado de outra forma, o software necessário para os nossos serviços, disponível ou usado em nosso Aplicativo, e os direitos de propriedade intelectual (inclusive os direitos autorais) do conteúdo, informação e material do nosso
        Aplicativo são propriedade da Tricard, seus fornecedores ou provedores.
    </p>
    <p>
        5.4 A Tricard detém com exclusividade todos os direitos, titularidade e interesses em todos os elementos sobre os quais recaem direitos de propriedade intelectual (incluindo, mas não limitado a, aparência, características e a infraestrutura) do Aplicativo no qual o serviço é disponibilizado. Sendo assim é vedado copiar, publicar, promover, comercializar, integrar, utilizar, combinar ou usar o conteúdo ou a marca sem expressa autorização por escrito da Tricard. Todo uso ilegal ou qualquer uma das ações ou comportamentos acima mencionados constituem uma violação material dos nossos direitos de propriedade intelectual (incluindo direitos autorais e direitos sobre base de dados).
    </p>
    <h2><strong>6. Sanções </strong></h2>
    <p>
        6.1 A Tricard poderá notificar, suspender ou cancelar, temporária ou definitivamente, a conta de um Usuário, a qualquer tempo, e tomar as medidas legais cabíveis, inclusive encaminhar os dados pertinentes à autoridade competente para que esta tome as medidas legais cabíveis, caso: (i) constate a violação de quaisquer das declarações, garantias e obrigações que constam deste Termo ou de quaisquer políticas e regras adjacentes a ele; (ii) suspeite que estejam sendo praticados atos fraudulentos ou dolosos; ou (iii) suspeite que as atividades e atitudes tenham causado ou possam vir a causar algum dano a terceiros ou ao própria Tricard, a seu exclusivo critério.

    </p>
    <h2><strong>7. Limitação de responsabilidade </strong></h2>
    <p>
        7.1. Este Aplicativo é apresentado na maneira como está disponível, podendo passar por constantes aprimoramentos e atualizações, não ficando a Tricard obrigada a manter uma estrutura ou layout, se não por sua própria conveniência.
    </p>
    <p>
        7.2. A Tricard não garante que o Aplicativo estará disponível ininterruptamente, não podendo, por conseguinte, ser
        responsabilizada por danos causados aos Usuários em virtude de qualquer interrupção no funcionamento do mesmo.
    </p>
    <p>
        7.3. O Usuário concorda, também, que a Tricard não responderá por quaisquer danos ou prejuízos causados a seu aparelho celular, computador, tablete ou qualquer outro equipamento eletrônico, como resultado do Aplicativo
    </p>
    <p>
        Caso qualquer cláusula, termo ou disposição deste Termo seja declarada nula, tal nulidade não afetará quaisquer outras cláusulas, termos ou disposições aqui contidas, as quais permanecerão em pleno vigor e efeito.
    </p>
    <h2><strong>8. Atualizações  </strong></h2>
    <p>
        8.1. A Tricard se resguarda no direito de realizar alterações/atualizações/melhorias no Aplicativo e neste Termo, a qualquer momento, e informará ao Usuário previamente à sua entrada em vigor. O uso do Aplicativo após a entrada em vigor importa em concordância com suas disposições. Caso o Usuário não concorde com as alterações, deverá cancelar sua conta, desinstalar o Aplicativo e cessar toda e qualquer utilização dos serviços oferecidos. Na ausência de manifestação entender-se-á que o Usuário aceitou tacitamente o Termo que continuará vinculando as partes.
    </p>
    <h2><strong>9 – Disposições gerais </strong></h2>
    <p>
        9.1. A tolerância do eventual descumprimento de quaisquer das cláusulas e condições do presente Termo não constituirá novação das obrigações aqui estipuladas e tampouco impedirá ou inibirá a exigibilidade das mesmas a qualquer tempo.
    </p>
    <p>
        9.2.  Este Termo não gera nenhum contrato de sociedade, de mandato, franquia ou relação de trabalho entre o Usuário e a Tricard.

    </p>
    <p>
        9.3. A Tricard poderá cancelar a qualquer tempo e sem prévio aviso a conta de acesso
        de algum Usuário, não sendo devida indenização, caso tenha sido detectada e identificada alguma prática contrária ao previsto nestes Termos de Uso ou que cause dano à Tricard ou a terceiros.
    </p>
    <p>
        9.4. A Tricard poderá a qualquer tempo ceder o Aplicativo e o presente Termo a terceiros sem necessidade de obter qualquer anuência do Usuário, que será atualizado nos termos do disposto no item 8.
    </p>
    <h2><strong>10. Foro de Eleição </strong></h2>
    <p>
        10.1 Este Termo será regido e interpretado de acordo com as leis da República Federativa do Brasil e quaisquer disputas oriundas do presente Termo que não puderem ser amigavelmente solucionadas pelas Partes, deverão ser submetidas ao foro da Comarca de Uberlândia, Estado de Minas Gerais.
    </p>
    <h2><strong>11 – Registro </strong></h2>
    <p> 11.1 Este documento encontra-se registrado no Cartório de Títulos e Documentos da Comarca de Uberlândia sob nº 3261593.
        <br>
        Atualização: 15 de Setembro de 2017.
    </p>
    <h2><strong>Tricard Serviços de Intermediação de Cartões de Crédito Ltda.  </strong></h2>

</div>

</body>

</html>

