<html>
<head>
    <title>Acesso Não Permitido</title>
    <style>
        /* Base styles */
        *, *:after, *:before {
            box-sizing: border-box;
        }
        html {
            font-size: 100%;
            line-height: 1.5;
            height: 100%;
        }
    </style>
</head>

<body>
<div class="container">
    <p>Acesso não permitido. Verifique a URL de acesso.</p>
</div>

</body>

</html>