<form action="{{ path('recover_password_email') }}" method="POST" class="">
    <div>
        <label for="username">E-mail</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <input type="submit" value="Recuperar Senha" />
    </div>
</form>