<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>E-Mail Confirmado</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <style>
        /* Base styles */
        *, *:after, *:before {
            box-sizing: border-box;
        }
        html {
            font-size: 100%;
            line-height: 1.5;
            height: 100%;
        }
    </style>
</head>

<body>
<div class="container">
    <p>E-mail confirmado com sucesso. Você já pode fechar esta janela.</p>
</div>

</body>

</html>